BIBLIO=references.bib
DOCX=article.docx
PDF=article.pdf
ABSTRACT=abstract.tex
AUTHOR=author.tex
TITLE=title.tex
LATEXFOLDER=./
LATEXENTRY=main.tex
BIBCOMPILE=bibtex or biber
TEXCOMPILE=defer or yes
ACRONYMS=sample.csv
GLOSSARY=sample.csv
MINDMAP=create
CITETAG= cite or citep