BIBLIO=references.bib
DOCX=article.docx
PDF=article.pdf
CHAPTER=chapter.tex
LATEXFOLDER=./
LATEXENTRY=main.tex
BIBCOMPILE=bibtex or biber
TEXCOMPILE=defer or yes
DOCTYPE=article or thesis
ACRONYMS=sample.csv
GLOSSARY=sample.csv
MINDMAP=create
CITETAG= cite or citep